.Search {
    width: inherit;
    /* padding: 1rem; */
    color: white;
    font-size: calc(10px + 2vmin);
    flex: 1;
}

.SearchInput {
    border:none;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid grey;
    font-weight: bold;
    background-color: transparent;
}

input[type=submit] {
    background: black;
    color: white;
    border: none;
    border-radius: 5pt;
    padding: 0.6rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    text-align: center;
    font-weight: bold;
}
