html {
    background-color: rgb(237, 237, 237)
}

.App {
    text-align: center;
}

.App-logo {
    width:3em;
    height: auto;
    pointer-events: none;
    align-self: center;
}

.Title {
    background: #e10600;
    color: white;
    font-size: calc(20px + 2vmin);
    display: flex;
    justify-content: space-evenly;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
