h3 {
    color: #e10600;
}

@media screen and (min-width: 640px){
    .FlexContainer {
        display: flex;
    }

    .ProfileImage {
        width: 400px;
    }
}
.SearchOutput, .Profile, .Stats {
    margin: 0;
    padding: 1.25rem;
}

.SearchOutput {
    color: black;
}

.Profile {
    flex: 1;
    background-color: white;
}

.ProfileImage {
    width: 200px;
}

.Stats {
    background-color: white;
}

.Bio {
    text-align: left;
}
