@media screen and (min-width: 640px){
    .FlexContainer {
        display: flex;
    }    
}
 .SearchOutput, .Profile, .Stats {
    margin: 0;
    padding: 1.25rem;
    color: white;
}

.SearchOutput {
    color: darkslategray;
}

.Profile {
    background: red;
    flex: 1;
}

.Stats {
    background: blue;
    flex: 1;
}